.wrapper .main-header {
  box-shadow: $shadow-header;
  height: $header-height;
  width: 100%;
  z-index: 2;

  & > .logo {
    display: none;
  }

  .navbar {
    align-items: center;
    background-color: $color-white;
    display: flex;
    height: 100%;
    margin-left: 0;

    .sidebar-toggle {
      @include flexCenter;

      color: $color-secondary;
      font-size: 20px;
      height: 100%;
      transition: background-color $hover-normal;
      width: $header-height;

      &:hover {
        background-color: $color-primary;
        color: #fff;
      }
    }

    & > .navbar-custom-menu {
      height: 100%;
      width: 100%;

      & > .navbar-nav {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-between;
        padding: 10px 20px 10px 10px;
        width: 100%;
  
        .dropdown {
          color: $color-primary;
          font-weight: 600;

          &:not(:last-child) {
            margin-right: 20px;
          }

          &.logo {
            @include flexCenter;
            
            background: $color-white;
            height: 100%;
            padding: 0;
            width: auto;

            .logo-link {
              padding: 0;
        
              &:hover {
                background-color: transparent;
              }
              
              .logo-img {
                height: $header-height;
                width: 70%;
              }
            }
          }

          &.title > h1 {
            color: $color-secondary;
            font-size: 24px !important;
            font-weight: 600;
            margin: 0;
          }

          &.version > p {
            font-size: 16px;
            margin: 0;
          }

          &.time-range {
            flex-grow: 1;

            & > p {
              color: $color-secondary;
              font-weight: 400;
              font-size: 18px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
