// Main colors
$color-white: #fff;
$color-black: #0a1e2b;
$color-primary: #0099F9;
$color-secondary: #15354A;
$color-grey: #818485;
$color-ash: #B3B8BA;
$color-ash-light: #e3e7e9;

// Sizes
$header-height: 60px;

// Hover effect
$hover-fast: 0.15s;
$hover-normal: 0.25s;
$hover-slow: 0.5s;

// Shadows
$shadow-header: 0 4px 15px rgba(0,0,0,.15);
$shadow-content: 0 0 40px rgba(0,0,0,.2);
$shadow-card: 0 3px 10px rgba(0,0,0,.25);

// Radius
$radius-box: 10px;