.box {
  background-color: #fff;
  height: 100%;
  margin: 0;
  padding: 15px;

  &.metric {
    display: grid;
    grid-auto-rows: 80px;
    gap: 15px;
    padding: 20px;

    .icon {
      @include background-image-container;
      background-position: center;
    }
  
    .value {
      color: $color-primary;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      justify-content: space-between;
      line-height: 20px;
      text-align: left;
  
      label {
        border-bottom: 1px solid $color-ash;
        color: $color-secondary;
        padding-bottom: 5px;
      }
    }
  }

   &.metric-global {
    grid-template-columns: 80px 1fr;
  }

  &.metric-local {

    @media (max-width: 1199px) {
      grid-template-columns: 80px 1fr;
    }

    @media (min-width: 1200px) {
      grid-template-rows: 80px 1fr;
  
      .value {
        justify-content: center;
        text-align: center;
      }
    }
  }
  
  
}

.map-grid-wrapper,
.table-grid-wrapper,
.barchart-grid-wrapper {
  > div {
    
    padding: 0;
    
  }

  .box-primary {
    height: 100%;
  }

  .box-header {
    height: 30px;
    padding: 0;
  }

  .box-body {
    height: calc(100% - 30px);
  }

  #map_view-mapview,
  .highcharts-container,
  .highchart,
  .highcharts-root {
    height: 100% !important;
  }
}

.map-grid-wrapper {
  grid-area: map;
}

.table-grid-wrapper {
  grid-area: table;
}

.barchart-grid-wrapper {
  grid-area: barchart;
}
