body {
  height: 100vh;
  overflow: hidden;

  .wrapper {    
    background-color: $color-secondary;
    height: 100%;
    overflow: hidden;

    > .content-wrapper {
      background-color: $color-ash-light;
      box-shadow: $shadow-content;
      height: calc(100vh - #{$header-height});
      overflow-x: auto;
      overflow-y: auto;
      position: relative;
      z-index: 1;

      > .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 30px;
        width: 100%;

        > .tab-content {
          flex-grow: 1;

          > .tab-pane {
            height: 100%;
          }
        }
      }
    }
  }
}
.dashboard-grid {
  display: grid;
  gap: 5px;
  width: 100%;
  
  
  &.simple-grid {
    grid-template-areas:
      "filter "
      "table ";
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(480px, auto); // Ensures the table has at least 480px, but can expand as needed
  }


  @media (max-width: 1199px) {
    &.simple-grid {
      grid-template-areas:
        "filter"
        "table";
      grid-template-columns: 1fr;
      grid-template-rows: auto minmax(480px, auto);
    }
  
  }
}

// For the LoadData page
.load-data-grid {
  display: grid;
  gap: 15px; // Adjust the gap as needed
  grid-template-columns: 1fr 1fr; // Two columns of equal width
  grid-template-rows: auto; // Auto height for flexibility

  .study-select-wrapper,
  .data-load-wrapper {
    grid-column: span 1; // Each takes one column
  }
}